body{
font-family: Arial;
margin:0;
}

.header{
background:#1e3a8a;
color:white;
padding:10px;
}

.container{
display:flex;
height:90vh;
}

.question-area{
width:70%;
padding:20px;
}

.palette{
width:30%;
background:#f1f1f1;
padding:20px;
display:grid;
grid-template-columns:repeat(5,1fr);
gap:10px;
}

.palette button{
padding:10px;
border:none;
cursor:pointer;
background:#ccc;
}

.buttons button{
margin:5px;
padding:10px;
}
